* {
      margin: 0;
      padding: 0;
}

body {
      font-size: 1.25em;
      background-color: rgb(237, 249, 255);
}


header,
footer {
      padding-bottom: 10px;
      width: 100%;
      height: max-content;
      background-color: lightskyblue;
      color: white;
}

h1 {
      text-align: center;
}

h2 {
      text-align: center;
      color: navy;
      font-size: 1.8em;
}

h3 {
      text-align: center;
}

img {
      padding-top: 10px;
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
}

ul,
ol {
      padding-left: 2em;
      margin-bottom: 1em;
      line-height: 1.5em;
}

p {
      text-align: center;
      padding-top: 1.5em;
}

.card {
      width: 80%;
      margin: 40px auto;
      border: 5px solid navy;
      border-radius: 10px;
      box-shadow: 5px 10px navy;
}

.card h2 {
      font-size: 1.5em;
      color: navy;
      border-bottom: 5px solid navy;
      border-radius: 10px;
}

.card h3 {
      font-size: 1.5em;
      color: navy;
      border-bottom: 5px solid navy;
      border-radius: 10px;
}

.intro {
      padding-top: 50px;
}

.home {
      margin: 30px auto 30px auto;
      text-align: center;
}

.home a {
      background-color: navy;
      text-decoration: none;
      color: white;
      padding: 10px 30px;
      border-radius: 30px;
      transition: all 250ms ease-out;
}

.home a:hover {
      background-color: #F46036;
      font-weight: bold;
      padding: 10px 50px;
      transition: all 250ms ease-out;
}

@media (max-width: 800px) {
      body {
            font-size: 1em;
      }

      img {
            width: 200px;
      }
}